div > p {
  font-weight: 300;
  margin: 4rem;
  color: inherit;
}
.serv-header {
  background-image: url(../assets/office.jpg);
  background-position: 10% 55%;
  background-repeat: no-repeat;
  height: 30rem;
  max-height: 50vh;
  margin-top: 15px;
}

.services-title {
  font-size: 15rem;
  font-weight: 600;
  margin: 5rem;
  color: #51657b;
}
.serv-cities-container {
  width: 100%;
  height: 40rem;
  background: #033670ab;
}
.parallax {
  /* The image used */
  background-image: url("../assets/citygrey.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.serv-cities {
  color: #f5f1ed;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 4rem;
  overflow-y: hidden;
}
.process-body {
  padding-top: 5rem;
  margin: 0rem;
  min-height: 95vh;
  padding: 0;
  background-image: url(../assets/background.jpg);
  width: 100vw;
}

.process-blog {
  padding: 0;
  margin: 0;
  width: 100%;
}

#process-summary {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#process-summary h4 {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 300;
  color: #012965;
  overflow-y: hidden;
  margin-bottom: 10%;
  text-align: center;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

#service-text-1 {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}
#service-text-2 {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #003b8f;
  padding: 1rem;
}
@media screen and (max-width: 980px) {
  #service-text-1 {
    flex-direction: column;
  }
  #service-text-2 {
    flex-direction: column;
  }
  .services-title {
    font-size: 10rem;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .services-title {
    font-size: 6rem;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
#service-text-1 p {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #003b8f;
  font-weight: 300;
  font-size: 2rem;
}
#service-text-1 h5 {
  font-size: 5rem;
  padding: 1rem;
  margin: 0px;
  color: #0044a3;
  line-height: 7rem;
  overflow-y: hidden;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
#service-text-2 p {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #f5f1ed;
  font-weight: 300;
  font-size: 2rem;
}
#service-text-2 h5 {
  line-height: 7rem;
  font-size: 5rem;
  padding: 1rem;
  margin: 0px;
  color: #f5f1ed;
  overflow-y: hidden;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.process-blog span p {
  width: 100%;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #212831;
  text-align: center;
}
.process-blog span img {
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
}
#service-areas {
  background-repeat: no-repeat;
  background-image: url(../assets/hr.jpg);
  background-position: -85% 27%;
  background-color: #012965;
  margin-bottom: 0px;
}
.areas-title-col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.areas-title-col span {
  color: #f5f1ed;
  mix-blend-mode: screen;
  font-size: 5rem;
  padding-right: 0.5rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 300;
  text-align: right;
  height: 45%;
}
.areas-cities-col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-right: 40px solid #012965;
}
.areas-cities-col span {
  background-repeat: no-repeat;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #012965;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 50%;
  text-align: center;
}

.services-section {
  margin-top: 100px;
}
.assisstant-img {
  min-height: 40rem;
}
.hygenist-img {
  min-height: 40rem;
  margin: 0;
  padding: 0;
}
.role-row-1 {
  background: #f5f1ed;

  color: #0044a3;
  padding: 1rem;
  margin: 0;
}
.role-row-1 .l8 {
  padding: 3rem;
}
.role-row-2 .l8 {
  padding: 3rem;
}
.role-row-1 .col span {
  font-size: 4rem;
  font-weight: 400;
  margin: 4rem;
}
.assistants-btn {
  margin: 4rem;
  background-color: #0044a3;
  color: #fff;
  font-weight: 600;
}
.assistants-btn:hover {
  opacity: 0.8;
  background-color: #0044a3;
  color: #fff;
  font-weight: 600;
}
.hygenist-btn {
  margin: 4rem;
  background-color: #03173a;
  color: #f5f1ed;
  font-weight: 600;
}
.hygenist-btn:hover {
  margin: 4rem;
  background-color: #03173a;
  color: #f5f1ed;
  font-weight: 600;
  opacity: 0.8;
}
.role-row-2 .l8 span {
  font-size: 4rem;
  font-weight: 300;
  margin: 4rem;
}
.role-row-2 {
  background: rgb(255, 255, 255);
  color: #03173a;
  padding: 1rem;
  margin: 0px;
}
.roles-img {
  width: 100%;
  height: auto;
}
