div > p {
  font-weight: 300;
  margin: 4rem;
  color: inherit;
}

.process_header {
  height: 25rem;
  background-image: url(../assets/lights.jpg);
  margin-top: 1rem;
}
.process_header_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.process_header_title h3 {
  font-size: 4rem;
  padding: 2rem;
  line-height: 5rem;
  font-weight: 300;
  background: rgb(163, 160, 163);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(245, 240, 246, 0.9) 100%
  );
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  overflow-y: hidden;
}
.process-body {
  padding-top: 5rem;
  margin-bottom: 0rem;
  min-height: 95vh;
  background: #fff;
}

.process-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#process-summary {
  margin-bottom: 5rem;
}
#process-summary h4 {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 300;
  color: #012965;
  overflow-y: hidden;
  margin-bottom: 10%;
  text-align: center;
  font-family: "Lora", serif;
  text-transform: uppercase;
}
.process-blog span:first-child {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
}
#service-text-1 {
  background: #fff;
  padding: 0px;
  box-shadow: 0px 1px 1px 0px silver;
}
#service-text-2 {
  background: #fff;
  padding: 0px;
  box-shadow: 0px 1px 1px 0px silver;
}

#service-text-1 p {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #405063;
  font-weight: 300;
  font-size: 2rem;
}
#service-text-1 h5 {
  font-size: 2.5rem;
  background: #012965;
  padding: 1rem;
  margin: 0px;
  color: #fff;
  line-height: 3rem;
  overflow-y: hidden;
  text-align: center;
  text-transform: uppercase;
}
#service-text-2 p {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #405063;
  font-weight: 300;
  font-size: 2rem;
}
#service-text-2 h5 {
  line-height: 3rem;
  font-size: 2.5rem;
  background: #012965;
  padding: 1rem;
  margin: 0px;
  color: #fff;
  overflow-y: hidden;
  text-align: center;
  text-transform: uppercase;
}

.process-blog span p {
  width: 100%;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #212831;
  text-align: center;
}
.process-blog span img {
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
}
#service-areas {
  background-repeat: no-repeat;
  background-image: url(../assets/hr.jpg);
  background-position: -95% 27%;
  background-color: #012965;
  margin-bottom: 0px;
}
.areas-title-col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.areas-title-col span {
  color: #f5f1ed;
  mix-blend-mode: screen;
  font-size: 5rem;
  padding-right: 0.5rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Merriweather", serif;
  text-align: right;
  height: 45%;
}
.areas-cities-col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/background.jpg);
}
.areas-cities-col span {
  /* background-color: #fff; */
  /* border: 3px solid #024ab6; */
  background-repeat: no-repeat;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Merriweather", serif;
  color: #002a66;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 50%;
  text-align: center;
}

.services-section {
  margin-top: 0px;
}
.assisstant-img {
  min-height: 40rem;
}
.hygenist-img {
  min-height: 40rem;
  margin: 0;
  padding: 0;
}
.role-row-1 {
  background-color: #024ab6;
  color: #fff;
  padding: 1rem;
  margin: 0;
}
.role-row-1 .l8 {
  padding: 3rem;
}
.role-row-2 .l8 {
  padding: 3rem;
}
.role-row-1 .col span {
  font-size: 4rem;
  font-weight: 400;
  margin: 4rem;
}
.assistants-btn {
  margin: 4rem;
  background-color: #f5f1ed;
  color: #024ab6;
  font-weight: 600;
}
.assistants-btn:hover {
  opacity: 0.8;
  background-color: #f5f1ed;
  color: #024ab6;
  font-weight: 600;
}
.hygenist-btn {
  margin: 4rem;
  background-color: #024ab6;
  color: #f5f1ed;
  font-weight: 600;
}
.hygenist-btn:hover {
  margin: 4rem;
  background-color: #024ab6;
  color: #f5f1ed;
  font-weight: 600;
  opacity: 0.8;
}
.role-row-2 .l8 span {
  font-size: 4rem;
  font-weight: 300;
  margin: 4rem;
}
.role-row-2 {
  background-color: #f5f1ed;
  color: #024ab6;
  padding: 1rem;
  margin: 0px;
}
.roles-img {
  width: 100%;
  height: auto;
}
