body,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-x: hidden;
  font-family: "Merriweather", serif;
}
p,
span,
div,
li,
section {
  font-family: "Lora", serif;
}

footer {
  height: 60px;
  background-color: transparent;
  color: #2a2d2e;
  width: 100%;
  border-top: 2px double #160f29;
}
nav {
  background-color: rgba(255, 255, 255, 0.9) !important;
  z-index: 10;
  position: absolute;
  top: 0;
  /* border-bottom: 2px solid silver; */
  box-shadow: 2px 2px 3px 0px #160f298e;
  min-height: 80px;
}
.nav-contact {
}
.nav-links {
  margin-left: 1rem;
}
.logo-txt {
  font-size: 2rem;
  color: #a3a0a3;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-style: italic;
  display: flex;
  align-items: flex-end;
}

.nav-links li a {
  font-size: 1.3rem !important;
  line-height: 3.5rem;
  color: #160f29 !important;
  opacity: 0.7;
  text-transform: uppercase !important;
}
.nav-links li a:hover {
  background-color: transparent !important;
  opacity: 1 !important;
}
.nav-links .active {
  background-color: transparent !important;
}
.nav-links .active a {
  background-color: transparent !important;
  opacity: 1 !important;
}
.tabs {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.nav-bottom {
  background-color: whitesmoke;
  height: 2.5rem;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
.nav-statement {
  font-size: 1.2rem;
  color: #2a2d2e;
  letter-spacing: 0;
  margin-right: 15px;
  margin-left: 15px;
  font-style: italic;
}
.nav-contact {
  padding: 5px 5px;
  color: tomato;
  margin-left: 10px;
  display: none;
}
.brand-logo {
  margin-left: 1rem;
}
.nav-menu {
  color: #160f29;
}
.flex-r-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-r-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-r-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flex-r-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flex-c-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-c-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flex-c-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.flex-c-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#sidenav-logo {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  border-bottom: 1px solid #160f29;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

/* cards */

.card-title {
  font-size: 4rem;
  letter-spacing: 0;
  color: #2a2d2e;
  font-family: "Lora", serif;
}
.card-content {
  padding: 0;
}
